<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>横浜市 不法駐輪プロジェクト</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h1 class="system-title">システム タイトル</h1>
            <nav class="menu">
                <ul>
                    <li><a href="/" class="active">トップページ &gt;</a></li>
                    <li><a href="bycycle_list.html">自転車一覧表 &gt;</a></li> {# TODO 以下、ファイル名ではなくhtmlではなくurlに対応させる。 src/routerPages.py も確認すること #}
                    <li><a href="bycycle_map.html">マップ表示 &gt;</a></li>
                    <li><a href="detail.html">詳細表示 &gt;</a></li>
                    <li><a href="edit.html">編集 &gt;</a></li>
                    <li><a href="deta_upload.html">データアップロード &gt;</a></li>
                    <li><a href="new_register.html">ユーザ登録 &gt;</a></li>
                </ul>
            </nav>
            <div class="logout">
                <a href="login.html">ログアウト</a>
            </div>
        </div>
        <div class="main-content">
            <header>
                <h2>横浜市 不法駐輪プロジェクト</h2>
            </header>
            <div class="content-text">
                <h1>こちらは横浜市不法駐輪プロジェクト<br>トップページ</h1>
            </div>
        </div>
    </div>
</body>
</html>