body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.label{
    text-align: left;
}

.page-container {
    width: 100%;
    max-width: 800px;
}

.top-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}

.user-info {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    color: #333;
}

.user-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.login-container {
    background-color: #154063;
    color: white;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-main {
    text-align: center;
    padding: 20px 0;
}

.form-group {
    margin-bottom: 40px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2rem;
    text-align: left;
}

.form-group input {
    width: 90%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}

.login-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #f0f0f0;
    color: #333;
    width: 100px;
}

.login-button {
    background-color: #f0f0f0;
}

.button:hover {
    opacity: 0.8;
}

.back-button {
    background-color: #f0f0f0;
}